<row>
  <div class="span8 offset2">
    <h1>
      About
    </h1>

    <p>In <a href="http://www.dancohen.org/2011/03/30/a-million-syllabi/">A Million Syllabi</a>,
    Dan Cohen released a database of over a million syllabi gathered by his Syllabus Finder tool.
    However, only 1% of the syllabi in the database were cached.</p>

    <p>By scraping the URLs in the database, we hope to provide a publicly available indexable
    and searchable repository of all the syllabi on the internet.</p>

    <p>Currently collected out of 1.5 million syllabi:</p>

    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100" style="width: 12%">
        <span class="sr-only">12% Complete (success)</span>
      </div>
    </div>

  </div>
</row>
