<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <nav>
      <ul class="nav pull-right">
        <%= render 'layouts/nav' %>
      </ul>
    </nav>
  </div>
</div>